<ul class="navbar">
    <li>
        <a routerLink="products" [queryParams]="{'category':''}" routerLinkActive="active" >All</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Mobiles & Accessories'}" routerLinkActive="active" >Mobiles & Accessories</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Men'}" routerLinkActive="active" >Men</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Women'}" routerLinkActive="active" >Women</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Kids'}" routerLinkActive="active" >Kids</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Fashion'}" routerLinkActive="active" >Fashion</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Electronics'}" routerLinkActive="active" >Electronics</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Home & Kitchen'}" routerLinkActive="active" >Home & Kitchen</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Computer'}" routerLinkActive="active" >Computer</a>
    </li>
    <li>
        <a routerLink="/products" [queryParams]="{'category':'Computer'}" routerLinkActive="active" >Computer</a>
    </li>
    
    
</ul>