<div (click)="hideBars()">
    <ng-content></ng-content>
</div>

<div [hidden]="hidden">
    <div class="barsContainer" >
        <ul>
            <h3>Trending</h3>
            <li><a routerLink="">Best Sellers</a></li>
            <li><a routerLink="">New Releases</a></li>
            <li><a routerLink="">Movers and Shakers</a></li>
        </ul>
        <hr>
        <ul>
            <h3>Shop By Category</h3>
            <li><a routerLink="products" [queryParams]="{'category':'Mobiles & Accessories'}">Mobiles, Computers</a></li>
            <li><a routerLink="products" [queryParams]="{'category':'Electronics'}">Tv, Appliances, Electronics</a></li>
            <li><a routerLink="products" [queryParams]="{'category':'Women'}">Womens Fashion</a></li>
            <li><a routerLink="products" [queryParams]="{'category':'Men'}">Mens Fashion</a></li>
        </ul>
        <hr>
        <ul>
            <h3>Help & Settings</h3>
            <li><a routerLink="account">Your Account</a></li>
            <li><a routerLink="contact">Customer Service</a>
            <li><a routerLink="signin">Sign in</a></li>
        </ul>
        <hr><br>
    </div>
    <div class="notBar">
        <p class="close" (click)="hideBars()"><i class="fa-solid fa-xmark"></i></p>
    </div>
</div>
