.notBar{
    background-color: rgb(0, 0, 0, 0.6);
    height: 100vh;
    width: 72.4vw;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    overflow-y: hidden;
}
.barsContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 26.4vw;
    height: 100vh;
    background-color: rgb(34, 34, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-shadow: 4px 4px 10px black;
    padding: 30px 25px;
    z-index: 10;
    overflow-y: auto;
    
}
ul{
    list-style: none;
    color: white;
}
li{
    margin: 10px 0px;
    padding: 8px 0px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 1px 2px aqua;
    background-color: rgb(44, 44, 65);
}
.close{
    color: white;
    font-size: 28px;
    cursor: pointer;
    margin: 20px;
    position: relative;
    left: 10px;
    bottom: 10px;
}