.req{
    color: red;
}
.card{
    width: 30vw;
    /* padding: 25px; */
    border: 1.5px solid gray;
    /* border-radius: 10px; */
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px 0px;
    box-shadow: 3px 3px 5px black;
}
#login{
    position: relative;
    left: 150px;
    bottom: 45px;

}