.item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image{
    height: 400px;
    width: 360px;
}
.desc{
    margin-top: 50px;
    padding: 50px;
    width: 480px;
    height: 550px;
    background-color: antiquewhite;
    position: relative;
    right: 80px;
    border-radius: 20px;
}
.buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
}
button{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
}
.cross{
    color: red;
}
.cart{
    background-color: orange;
}
.cart:hover{
    background-color: rgb(255, 195, 84);
}
.buy{
    background-color: rgb(122, 190, 18);

}
.buy:hover{
    background-color: rgb(179, 255, 66);
}
.offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bank{
    border: 1px solid gray;
    border-radius: 8px;
    height: 80px;
    width: 130px;
    overflow: hidden;
    padding: 5px;

}
.cashback{
    border: 1px solid gray;
    border-radius: 8px;
    height: 80px;
    width: 130px;
    overflow: hidden;
    padding: 5px;

}
b{
    color: brown;
    text-decoration: underline;
}
.card{
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 15px;
    margin: 10px;

}