.searchDiv{
    padding: 6px 0px;
    background-color: rgb(205, 232, 255);
    /* background-color: rgb(255, 187, 59); */
    display: flex;
    justify-content: center;
}
.search{
    /* padding: 7px 30px; */
    padding: 0px 20px;
    border: 1px solid rgb(13, 13, 92);
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.4);
    transition: border 1s;
}
input{
    width: 250px;
}
input, button{
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    /* padding: 8px 30px; */
}
button{
    cursor: pointer;
    position: relative;
    width: 60px;
    left: 20px;
    background-color: rgb(17, 255, 255, 0.2);
    font-size: 20px;
    padding: 7px;
    border-radius: 0px 50px 50px 0px;
    /* border: 1px solid rgb(19, 19, 87); */
    transition: color 0.5s;
}
button:hover{
    background-color: rgb(22, 22, 80, 0.5);
    color: white;
}
.search:hover{
    border: 1px solid orangered;
}

